* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.overflows {
  height: 100vh;
  overflow-y: hidden;
}
.overflow {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(10, 10, 10);
  color: white;
  font-size: 2.5rem;
  padding: 4rem;
  border-radius: 1rem;
}
.close-icon {
  font-size: 3rem;
  transform: translate(100%, -100%);
}
.logo {
  height: 15rem;
  width: 15rem;
  border-radius: 100%;
  margin-bottom: 6rem;
}
.heading {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(img/cs.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  color: white;
  margin-bottom: 6rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}
.semester {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 6rem;
}
.heading-text {
  font-size: 6rem;
  text-align: center;
}
.subject-select {
  margin: 1.6rem auto;
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  font-weight: 400;
  padding: 1rem 3rem;
  border-radius: 0.6rem;
  color: rgb(255, 255, 255);
}
.subject-info {
  font-size: 3rem;
}
.subject-info:hover {
  cursor: pointer;
}
.down-arrow-ai {
  font-size: 4rem;
}
.down-arrow-ai:hover {
  cursor: pointer;
}
.down-arrow-set {
  font-size: 4rem;
}
.down-arrow-set:hover {
  cursor: pointer;
}
.down-arrow-dbms {
  font-size: 4rem;
}
.down-arrow-dbms:hover {
  cursor: pointer;
}
.books-box-ai {
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.books-box-set {
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.books-box-dbms {
  overflow: hidden;
  margin: 0 auto;
  width: 75%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.book {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-img {
  width: 50%;
  margin-bottom: 3rem;
}
.book-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin-bottom: 4rem;
}
.book-name {
  font-size: 2.5rem;
  text-align: center;
}
li {
  font-size: 2rem;
}
.hide {
  height: 0;
  padding: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.unhide {
  height: auto;
  opacity: 1;
  padding: auto;
  transition: all 1s ease-in-out;
}
.test {
  font-size: 4rem;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  font-size: 2rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid black;
}
.btn:hover {
  background-color: black;
  color: white;
}
